* {
  background-color: #1c2c54;
  font-family: "Indie Flower", cursive;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 5rem;
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  color: #4bc3b5;
}

h2 {
  font-size: 2rem;
  color: #4bc3b5;
}

button {
  width: 15%;
  min-height: 2rem;
  background-color: #fff;
  color: #1c2c54;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

.button-play {
  text-align: center;
}
img {
  width: 80%;
}
footer {
  text-align: center;
  margin-top: 5%;
  color: #fff;
}
